.img-btn {
	width: 20px;
	height: 20px;
	/*width: 5%;
	height: auto; */
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 1000;
	display: block;
}

.modal-content {
	background-color: #FFF;
	margin: 100px auto;
	border-radius: 4px;
	box-shadow: 0 2px 8px #333;
	padding: 0;
	position: relative;
}

.modal-header {
	display: flex;
	justify-content: space-between;
	padding: 8px 16px;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
}

.modal-body {
	padding: 16px;
}
